$font-stack:    museo_sans500, Helvetica, Verdana, Arial, sans-serif;
$rosso_bordeaux:#712422;
$rosso_2:#A52926;
$gray_light:#D7E2E4;
$gray_1:#7C8184;
$dirty_white:#F6FFFF;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-top-radius($radius) {
  -webkit-border-radius: $radius  $radius 0 0;
     -moz-border-radius: $radius  $radius 0 0;
      -ms-border-radius: $radius  $radius 0 0;
          border-radius: $radius  $radius 0 0 ;
}

@mixin border-bottom-radius($radius) {
  -webkit-border-radius: 0 0 $radius  $radius ;
     -moz-border-radius:  0 0 $radius  $radius ;
      -ms-border-radius:  0 0 $radius  $radius ;
          border-radius:  0 0 $radius  $radius ;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $color;
        -moz-box-shadow:inset $top $left $blur $color;
        box-shadow:inset $top $left $blur $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }
}


@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
     -ms-box-sizing: $box-model;
          box-sizing: $box-model;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

@mixin background-img ($position, $rgba1, $rgba2, $rgba3) {
    background-image: -webkit-linear-gradient($position, $rgba1, $rgba2, $rgba3); 
    background-image: -moz-linear-gradient($position, $rgba1, $rgba2, $rgba3); 
    background-image: -ms-linear-gradient($position, $rgba1, $rgba2, $rgba3);
    background-image: -o-linear-gradient($position, $rgba1, $rgba2, $rgba3)
}

@mixin background-size($size) {
    -moz-background-size: $size;
    -webkit-background-size: $size;
    -o-background-size: $size;
     background-size: $size;
}