@import "_custom.scss";


/* ===========================
   ======= Body style ======== 
   =========================== */

html, body {
    margin:0;
    padding:0;
    height: 100%;
}
   
body {
        background-color: $gray_light;
	color: $gray_1;
	font-family: $font-stack;
	text-align: center;
}
	
	
/* ===========================
   ========= Headings ======== 
   =========================== */

/* base font: inherit (16px)  */

h1 {
    font-size:1.5em;    /* 24px */
}
h2 {
    font-size: 1.375em;  /* 22px */
}	
h3 {
    font-size: 1.25em;  /* 20px */
}	
h4 {
    font-size: 1.125em; /* 18px */
}	
h5 {
    font-size: 1em;     /* 16px */
}	
h6 {
    font-size: 0.875em; /* 14px */
}				

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
        text-rendering: optimizelegibility;
}


#main-content {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}
 #head-content {
    overflow: hidden;
    width: 100%;
    background-color: $dirty_white;
    @include box-shadow(0, 3px, 3px, 0px rgba(0, 0, 0, 0.2));
}

 #footer-content {
    width: 100%;
    overflow: hidden;
   background: $dirty_white;
 /*    background: none repeat scroll 0 0 rgba(124, 129, 132, 0.6);  #7C8184 */
/*    @include box-shadow( 0, 10px ,10px, -10px, rgba(0, 0, 0, 0.75));*/
}


/* ===========================
   ===== Flexible Images ===== 
   =========================== */
img,
embed,
object,
video {
    max-width: 100%;
}

/* ===========================
   ===== Link Styles ===== 
   =========================== */

a {
    color: $rosso_bordeaux;
    text-decoration: none;
}

/* ===========================
   ===== Main Navigation ===== 
   =========================== */

header {
    max-width: 100%;
    display: block;
    background-color: $dirty_white;
    }
    

.the-logo {
    background: none repeat scroll 0 0 $dirty_white;
    margin: 0 0 8px;
    padding: 5px;
    text-align: center;
    img {
        height: auto;
        max-height: 92px;
        vertical-align: middle;
    }
}

nav {
    width: 100%;
    max-height: 100%;
}

nav ul {
    margin: 0;
    padding: 5px 0;
    text-align:center;
    list-style: none;
    background-color: $dirty_white;
}

nav li {
    display:inline-block; 
    width: 9%;
    min-width: 150px;
}

nav li.active a {
    color: $rosso_bordeaux;
    font-weight: bold;
}

nav li a {
    font-size: 1.25em;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: $gray_1;
    transition: color 0.3s linear 0s;
    &:hover {
        color: $rosso_bordeaux;
        font-weight: bold;
    }
      
}

.social {
    position: absolute;
    top:0;
    right: 0;
    z-index: 1001;
    margin: .28em .28em 0 0;
    span {
        text-align:center;
        display: block;
        padding: 1px;
    }
    img.social_icon {
      vertical-align: middle;
      margin: 0;
    }
    a {
     text-decoration: none;
    }
}

.slicknav_menu {
	display: none;
}

#mobile_menu {
    display: none;
}

/* ===========================
   ===== Main Content    ===== 
   =========================== */

select {
    border: 1px solid $gray_1;
    border-radius: 5px;
    color: $rosso_bordeaux;
    padding: 0.75em;
    vertical-align: middle;
    width: 100%;
    max-height:44px;
    -webkit-appearance: none;
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='59px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>") right no-repeat;
    background-color: $dirty_white;
    background-position: right 10px top 15px;
    background-size: 15px 15px;
}

select:active {
    border: 1px solid $gray_1;
}

.select_container {
    h3 {
       font-size: 1.25em;
       font-weight: 500;
       vertical-align: middle;
       line-height: 2;
    }
    padding: 0.75em 0;
    text-align: right;
}
.text_box {
     margin-top: 10px;
     background-color: $dirty_white;
     overflow: hidden;  
     max-width: 100%;
     @include box-shadow(0, 5px, 5px, rgba(0, 0, 0, 0.2));
     p {
        padding: 0.875em;
        text-align: justify;
        line-height: 1.5;
     }
    }
    
.title {
   
    padding-top: 10px; 
    color: $dirty_white;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 1px;
    text-transform: uppercase;
     @include alpha-attribute('background-color', rgba($rosso_bordeaux, .9), $dirty_white);
    }
 
    
.category_title {
    font-weight: 500;
    text-align: left;
    padding-top: 12px;
    a { 
        line-height: 1.5;
        color: $gray_1;
        text-decoration: none;
        font-size: 2em;
    }
    a.active {
        color: $rosso_bordeaux;
    }   
}

.cat_container {
        display: block;
        overflow: hidden;
        margin-bottom: .5em;
        margin-top: .5em;
} 


.categories .thecategory {
    .image {
        padding: .5em .75em;
    }
    .image img {
        border-radius: 100%;
        height: auto;
        width: 100%;
        border: 5px solid $dirty_white;
        @include opacity(0.7);
        @include box-shadow(0, 3px, 2px, 0px rgba(0, 0, 0, 0.3));
        @include box-sizing(border-box);
        @include transition(opacity, .3s, ease-in-out);
        &:hover {
            @include opacity(1);
            zoom: 1;
        }
    }
}



.categories a h3 {
     font-weight: 500;
     text-align: left;
     width: 100%;
     color: $rosso_bordeaux;
     transition: color 0.3s linear 0s;
     font-size: 1.375em;
     text-transform: uppercase;
     height: 1.5em;
     &:hover {
         color: $dirty_white;
     }
}

#super-image-container{
    display: block;
    height: auto;
    min-height: 560px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#large-image-home, .gradient {
    background-position: center center;
    background-repeat: no-repeat;
    
    background-image:url('../img/home.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    height: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#large-image-info
{
    bottom: 5%;
    left: 4%;
    position: absolute;
    z-index: 1001;
    width:92%;
    a{
         color: #FFFFFF;
         font-size: 36px;
    }
}


/* ===================================
   ===== Main Content - Products =====  
   =================================== */


.products {
      span {
        display: block;
        padding: 1em 0;
        background-color: $dirty_white;
        @include box-shadow(0, 5px, 5px, rgba(0, 0, 0, 0.2));
    }
    .product_name {
        background-color: $rosso_bordeaux;
        color: $dirty_white;
        height: 2em;
        vertical-align:middle;
       
            line-height: 1.8;
             
    }
    .p_box {
        margin-top: 0.75em ;
        margin-bottom: 0.75em;
    }
} 
    
  /*===========================
   =====  Scheda Prodotto  ==== 
   =========================== */
    
.product_sheet {
    max-width: 100%;
    display: block;
    background-color: $dirty_white;
    overflow: hidden; 
    padding: 1em 0.5em;
    .description {
            text-align: left;
            padding: .3em 0;
            h1{
                font-size: 1.75em;
                line-height: 1.5;
                border-bottom: 2px solid $gray_1;
                margin-bottom: .2em;
            }
            h3{
                line-height:1.5;
            }
            hr{
                color: $dirty_white;
            }
    }
    .text-content {
        line-height: 1.5;
        font-weight: 500;
        margin: 0 0 10px 10px;
    }
    .product_img_container {
        padding: .3em 0;
    }
    
}


#close {
        cursor: pointer;
        line-height: 1.5;
        font-size: 1.25em;
        margin: 0 9px;
        padding-bottom: 4px;
        color: $gray_1;
        text-decoration: underline;
        float: right;
    }
    


/* ===========================
   =====      Footer     ===== 
   =========================== */

.wrapper {
        height: auto !important;
	min-height: 100%;
	height: 100%;
	margin: 0 auto -4em;
}

footer, .push {
	height: 4em;
        clear: both;
}

footer {
        padding-top: 20px;
}

footer p {
	text-align: center;
/*	color: $dirty_white;*/
        color: $gray_1;
}
footer a:link {
	text-align: center;
/*	color: $dirty_white;*/
        color: $gray_1;
}

/* ===========================
   =====     Contacts    ===== 
   =========================== */

#contacts_info {
    margin: 1em;
    text-align: right;
    p {
        margin: 0 0 10px 10px;
        padding: 0.5em;
        font-size: 1.25em;
    }
    h1, h2 {
        line-height: 1.5;
    }
    h1 {
        font-size: 1.875em;
    }
}

#contacts_pic {
     float: none;
     margin: 1em;
     display: block;
     border-left: 2px solid $gray_1;  
}

/* ===========================
   =====    Media Query ===== 
   =========================== */

/* Display sotto i 1279 px (Tablet) */

@media only screen and (max-width:1279px) {
    .select_container {
        h3 {
            padding: .25em 0;
            font-size: 1em;
        }
    }
    .category_title {
         a {
           font-size: 1.75em;
          }
    }
    
    .product_sheet {
        .description {
          h1 {
           font-size: 1.5em;
          }
      }
    }
    .categories a h3 {
        font-size: 1em;
        height: 1.5em;
    }
    #contacts_info {
         h1 {
            font-size: 1.375em;}
         h2 {
            font-size: 1.25em;
          }
    }
    #super-image-container{
        min-height: 370px;
    }
     #large-image-home, .gradient {
            background-image:url('../img/tablet_home.png');
    }
}	

/*  Display sotto i 768 px (Smartphone) */

@media only screen and (max-width:767px){
    #super-image-container{
        min-height: 224px;
    }
    #large-image-home, .gradient {
        background-image:url('../img/smartphone_home.png');
    }
    #large-image-info {
        a{
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }
    }
    #head-content{
        height: 100px;
        position: relative;
        @include box-shadow(0,0,0,0);
    }
    #menu {
        display:none;
	}
    #mobile_menu {
        display: block;
        @include box-shadow(0, 3px, 3px, 0px rgba(0, 0, 0, 0.2));
    }
    .slicknav_menu {
         display:block;
         width: 100%;
     }
    .categories a h3 {
        font-size: .875em;
        height: 1.5em;
    }
    .product_name {
            font-size: 0.875em;
            line-height: 1.1;
    }
    .category_title {
        a{
        font-size: 1.5em;}
        padding-top: 5px;
    }
    .select_container {
        text-align: left;
        padding: 5px 0;
    }
    #contacts_info {
        h1{
           font-size: 1.25em;
        }
        h2 {
           font-size: 1em;
          }
    }
        .container_12 {

            .grid_3 {
               width:48.0%;
            }
            .grid_4{
               width:48.0%;
               }
            .product_sheet .grid_4, .grid_5, .grid_7
            {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }  

            .grid_2 {
               width:48.0%;
            }

            .grid_6 {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
            .grid_8 {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
            .prefix_5 {
               padding-left:33.333%;
            }
            grid_7, .prefix_8 {
                    padding-left: 0; 
                }
            .grid_12
                {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                 }    
            .social, .grid_1
                {
                 width:14.667%; 
                }    
}
}
@media only screen and (max-width:294px){
    h3.product_name {
            font-size: 0.75em;
    }
    .categories a h3 {
        font-size: 0.75em;
        height: 1.5em;
    }
    .category_title {
        a{
            font-size: 1.25em;
        }
    }
    #contacts_info {
        p {
            margin: 0 0 5px 5px;
            padding: 0;
            font-size: 0.875em;
          }
    }
    #large-image-info {
        a{
        font-size: 22px;
    }
    h2 {
        font-size: 16px;
    }
    }
}  