/* ===========================
   ======= Body style ======== 
   =========================== */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background-color: #d7e2e4;
  color: #7c8184;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  text-align: center; }

/* ===========================
   ========= Headings ======== 
   =========================== */
/* base font: inherit (16px)  */
h1 {
  font-size: 1.5em;
  /* 24px */ }

h2 {
  font-size: 1.375em;
  /* 22px */ }

h3 {
  font-size: 1.25em;
  /* 20px */ }

h4 {
  font-size: 1.125em;
  /* 18px */ }

h5 {
  font-size: 1em;
  /* 16px */ }

h6 {
  font-size: 0.875em;
  /* 14px */ }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 2.2; }

#main-content {
  margin: 0 auto;
  overflow: hidden;
  padding: 1em 0;
  width: 100%;
  margin-bottom: 130px; }

#head-content {
  overflow: hidden;
  height: 160px;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #f6ffff;
  -webkit-box-shadow: 0 5px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 3px 0px rgba(0, 0, 0, 0.2); }

#footer-content {
  width: 100%;
  overflow: hidden;
  background: none repeat scroll 0 0 rgba(124, 129, 132, 0.6);
  /* #7C8184 */
  -webkit-box-shadow: inset 0 10px 10px -10px;
  -moz-box-shadow: inset 0 10px 10px -10px;
  box-shadow: inset 0 10px 10px -10px; }

/* ===========================
   ===== Flexible Images ===== 
   =========================== */
img,
embed,
object,
video {
  max-width: 100%; }

/* ===========================
   ===== Link Styles ===== 
   =========================== */
a {
  color: #712422;
  text-decoration: none; }

/* ===========================
   ===== Main Navigation ===== 
   =========================== */
header {
  max-width: 100%;
  display: block;
  background-color: #f6ffff; }

.the-logo {
  background: none repeat scroll 0 0 #f6ffff;
  margin: 0 0 8px;
  padding: 5px;
  text-align: center; }
  .the-logo img {
    height: auto;
    max-height: 92px;
    vertical-align: middle; }

nav {
  width: 100%;
  max-height: 100%;
  -webkit-box-shadow: 0 5px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 3px 0px rgba(0, 0, 0, 0.2); }

nav ul {
  margin: 0;
  padding: 5px 0;
  text-align: center;
  list-style: none;
  background-color: #f6ffff; }

nav li {
  display: inline-block; }

nav li.active a {
  color: #712422;
  font-weight: bold; }

nav li a {
  font-size: 1.25em;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #7c8184;
  transition: color 0.3s linear 0s; }
  nav li a:hover {
    color: #712422; }

.social {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1007;
  margin: .28em .28em 0 0; }
  .social span {
    text-align: center;
    display: block;
    padding: 1px; }
  .social img.social_icon {
    vertical-align: middle;
    margin: 0; }
  .social a {
    text-decoration: none; }

.submenu {
  width: 100%;
  z-index: 1000; }
  .submenu nav ul {
    background-color: rgba(215, 226, 228, 0.6); }

.menu-lev-2 {
  margin: 0 auto;
  background-color: #7c8184;
  display: none;
  max-width: 100%; }

.slicknav_menu {
  display: none; }

#stickyheader, #stickysubmenu {
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 1004; }

#stickyalias {
  display: none;
  height: 10px; }

.arrow {
  display: inline; }

.hidden-container {
  margin: 0 auto;
  position: relative;
  z-index: 1; }

nav.mobile {
  display: none;
  height: 0;
  visibility: hidden; }

#mobile_menu {
  display: none; }

/* ===========================
   ===== Main Content    ===== 
   =========================== */
.text_box {
  margin-top: 10px;
  background-color: #f6ffff;
  overflow: hidden;
  max-width: 100%;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }
  .text_box p {
    padding: 2%;
    text-align: left;
    font-size: 100%;
    overflow: hidden; }

.title {
  background-color: #712422;
  padding: 0.4em 0;
  color: #f6ffff;
  height: 2em; }

.categories div {
  margin-top: 1em;
  margin-bottom: 1em; }
.categories span {
  display: block;
  padding: 0.4em;
  background-color: #f6ffff;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }

.categories a h3 {
  color: #d7e2e4;
  transition: color 0.3s linear 0s; }
  .categories a h3:hover {
    color: #f6ffff; }

#figure {
  float: right;
  margin: 2%;
  width: 31.333%; }

.products div {
  margin-top: 1em;
  margin-bottom: 1em; }
.products span {
  display: block;
  padding: 1em 0;
  background-color: #f6ffff;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }
.products .product_name {
  background-color: #712422;
  color: #f6ffff;
  height: 2em;
  line-height: 2.2;
  vertical-align: middle; }

.breadcrumbs {
  display: block;
  float: left;
  font-size: 1.5em;
  font-weight: 400;
  text-align: left;
  padding: .5em 0;
  min-height: 100%; }
  .breadcrumbs a {
    line-height: 2.2;
    margin: 0 9px;
    padding-bottom: 4px;
    color: #7c8184;
    text-decoration: none; }
  .breadcrumbs a.active {
    color: #712422;
    font-weight: 500;
    border-bottom: 3px solid #712422; }

/*===========================
 =====  Scheda Prodotti  ==== 
 =========================== */
.product_sheet {
  max-width: 100%;
  display: block;
  background-color: #f6ffff;
  overflow: hidden;
  padding: 1em 0.5em; }
  .product_sheet .description {
    text-align: left;
    padding: 0 1em; }
  .product_sheet .text-content {
    line-height: 2.2;
    font-weight: 500;
    margin: 0 0 10px 20px; }
  .product_sheet .more_info {
    background-color: #a52926;
    color: #f6ffff;
    padding: 1em; }

#close {
  cursor: pointer;
  line-height: 2.2;
  font-size: 1.5em;
  margin: 0 9px;
  padding-bottom: 4px;
  color: #7c8184;
  text-decoration: underline;
  float: right; }

/* ===========================
   =====      Footer     ===== 
   =========================== */
.wrapper {
  height: auto !important;
  min-height: 100%;
  height: 100%;
  margin: 0 auto -4em;
  /* the bottom margin is the negative value of the footer's height */ }

footer, .push {
  height: 4em;
  clear: both; }

footer {
  padding-top: 20px; }

footer p {
  text-align: center;
  color: #f6ffff; }

footer a:link {
  text-align: center;
  color: #f6ffff; }

/* ===========================
   =====     Contacts    ===== 
   =========================== */
.contacts {
  text-align: left;
  font-size: 200%;
  padding: 1em 0.5em; }
  .contacts img {
    float: none;
    margin: 20px auto 20px;
    position: relative;
    display: block; }
  .contacts p {
    padding: .6em; }

/* ===========================
   =====    Media Query ===== 
   =========================== */
/* Display sotto i 1279 px (Tablet) */
@media screen and (max-width: 1279px) {
  .contacts p {
    padding: .4em;
    font-size: .875em; }
  .contacts h3 {
    font-size: 1em; }
  .contacts h2 {
    font-size: 1.25em; }

  h3.title {
    font-size: 1em; } }
/*  Display sotto i 768 px (Smartphone) */
@media screen and (max-width: 767px) {
  #head-content {
    height: 100px;
    position: relative;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0; }

  #main-content {
    margin-top: 3em;
    padding-top: 0; }

  #menu {
    display: none; }

  #mobile_menu {
    display: block; }

  .slicknav_menu {
    display: block;
    width: 100%; }

  .menu-lev-2, .submenu {
    display: none; }

  #stickyheader {
    display: none; }

  .contacts p {
    padding: .4em;
    font-size: 0.75em; }
  .contacts h3 {
    font-size: 0.75em; }
  .contacts h2 {
    font-size: 0.875em; }

  h3.title {
    font-size: 0.875em;
    line-height: 1.1; }

  h3.product_name {
    font-size: 1em; }

  .container_12 .grid_3 {
    width: 48.0%; }
  .container_12 .grid_4 {
    width: 48.0%; }
  .container_12 .product_sheet .grid_4, .container_12 .grid_5, .container_12 .grid_7 {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .container_12 .breadcrumbs, .container_12 .grid_7 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    font-size: 1em; }
  .container_12 .grid_2 {
    width: 48.0%; }
  .container_12 .grid_6 {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .container_12 .grid_8 {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .container_12 .prefix_5 {
    padding-left: 33.333%; }
  .container_12 grid_7, .container_12 .prefix_8 {
    padding-left: 0; }
  .container_12 .grid_12 {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .container_12 .social, .container_12 .grid_1 {
    width: 14.667%; } }
@media screen and (max-width: 274px) {
  h3.product_name {
    font-size: 0.75em; }

  h3.title {
    font-size: 0.75em;
    line-height: 1.1; }

  .contacts p {
    font-size: 0.5em; }
  .contacts h3 {
    font-size: 0.5em; }
  .contacts h2 {
    font-size: 0.5em; }

  .text_box p {
    padding: 0;
    overflow: visible; }

  .container_12 .breadcrumbs, .container_12 .grid_7 {
    font-size: 0.75em; }
    .container_12 .breadcrumbs a, .container_12 .grid_7 a {
      margin: 0; } }
