/* ===========================
   ======= Body style ======== 
   =========================== */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background-color: #d7e2e4;
  color: #7c8184;
  font-family: museo_sans500, Helvetica, Verdana, Arial, sans-serif;
  text-align: center; }

/* ===========================
   ========= Headings ======== 
   =========================== */
/* base font: inherit (16px)  */
h1 {
  font-size: 1.5em;
  /* 24px */ }

h2 {
  font-size: 1.375em;
  /* 22px */ }

h3 {
  font-size: 1.25em;
  /* 20px */ }

h4 {
  font-size: 1.125em;
  /* 18px */ }

h5 {
  font-size: 1em;
  /* 16px */ }

h6 {
  font-size: 0.875em;
  /* 14px */ }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

#main-content {
  margin: 0 auto;
  overflow: hidden;
  width: 100%; }

#head-content {
  overflow: hidden;
  width: 100%;
  background-color: #f6ffff;
  -webkit-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2); }

#footer-content {
  width: 100%;
  overflow: hidden;
  background: #f6ffff;
  /*    background: none repeat scroll 0 0 rgba(124, 129, 132, 0.6);  #7C8184 */
  /*    @include box-shadow( 0, 10px ,10px, -10px, rgba(0, 0, 0, 0.75));*/ }

/* ===========================
   ===== Flexible Images ===== 
   =========================== */
img,
embed,
object,
video {
  max-width: 100%; }

/* ===========================
   ===== Link Styles ===== 
   =========================== */
a {
  color: #712422;
  text-decoration: none; }

/* ===========================
   ===== Main Navigation ===== 
   =========================== */
header {
  max-width: 100%;
  display: block;
  background-color: #f6ffff; }

.the-logo {
  background: none repeat scroll 0 0 #f6ffff;
  margin: 0 0 8px;
  padding: 5px;
  text-align: center; }
  .the-logo img {
    height: auto;
    max-height: 92px;
    vertical-align: middle; }

nav {
  width: 100%;
  max-height: 100%; }

nav ul {
  margin: 0;
  padding: 5px 0;
  text-align: center;
  list-style: none;
  background-color: #f6ffff; }

nav li {
  display: inline-block;
  width: 9%;
  min-width: 150px; }

nav li.active a {
  color: #712422;
  font-weight: bold; }

nav li a {
  font-size: 1.25em;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #7c8184;
  transition: color 0.3s linear 0s; }
  nav li a:hover {
    color: #712422;
    font-weight: bold; }

.social {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1001;
  margin: .28em .28em 0 0; }
  .social span {
    text-align: center;
    display: block;
    padding: 1px; }
  .social img.social_icon {
    vertical-align: middle;
    margin: 0; }
  .social a {
    text-decoration: none; }

.slicknav_menu {
  display: none; }

#mobile_menu {
  display: none; }

/* ===========================
   ===== Main Content    ===== 
   =========================== */
select {
  border: 1px solid #7c8184;
  border-radius: 5px;
  color: #712422;
  padding: 0.75em;
  vertical-align: middle;
  width: 100%;
  max-height: 44px;
  -webkit-appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='59px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>") right no-repeat;
  background-color: #f6ffff;
  background-position: right 10px top 15px;
  background-size: 15px 15px; }

select:active {
  border: 1px solid #7c8184; }

.select_container {
  padding: 0.75em 0;
  text-align: right; }
  .select_container h3 {
    font-size: 1.25em;
    font-weight: 500;
    vertical-align: middle;
    line-height: 2; }

.text_box {
  margin-top: 10px;
  background-color: #f6ffff;
  overflow: hidden;
  max-width: 100%;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }
  .text_box p {
    padding: 0.875em;
    text-align: justify;
    line-height: 1.5; }

.title {
  background-color: #712422;
  padding: 0.4em 0;
  color: #f6ffff;
  height: 2em; }

.category_title {
  font-weight: 500;
  text-align: left;
  padding-top: 12px; }
  .category_title a {
    line-height: 1.5;
    color: #7c8184;
    text-decoration: none;
    font-size: 2em; }
  .category_title a.active {
    color: #712422; }

.cat_container {
  display: block;
  overflow: hidden;
  margin-bottom: .5em;
  margin-top: .5em; }

.categories .thecategory .image {
  padding: .5em .75em; }
.categories .thecategory .image img {
  border-radius: 100%;
  /*      float: right;*/
  height: auto;
  width: 100%;
  -webkit-box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.3);
  border: 5px solid #f6ffff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.categories a h3 {
  font-weight: 500;
  text-align: left;
  width: 100%;
  color: #712422;
  transition: color 0.3s linear 0s;
  font-size: 1.375em;
  text-transform: uppercase;
  height: 1.5em; }
  .categories a h3:hover {
    color: #f6ffff; }

#super-image-container {
  display: block;
  height: auto;
  min-height: 560px;
  overflow: hidden;
  position: relative;
  width: 100%; }

#large-image-home, .gradient {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/home.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

#large-image-info {
  bottom: 5%;
  left: 4%;
  position: absolute;
  z-index: 1001;
  width: 92%; }
  #large-image-info a {
    color: #FFFFFF;
    font-size: 36px; }

/* ===================================
   ===== Main Content - Products =====  
   =================================== */
.products span {
  display: block;
  padding: 1em 0;
  background-color: #f6ffff;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }
.products .product_name {
  background-color: #712422;
  color: #f6ffff;
  height: 2em;
  vertical-align: middle;
  line-height: 1.8; }
.products .p_box {
  margin-top: 0.75em;
  margin-bottom: 0.75em; }

/*===========================
 =====  Scheda Prodotto  ==== 
 =========================== */
.product_sheet {
  max-width: 100%;
  display: block;
  background-color: #f6ffff;
  overflow: hidden;
  padding: 1em 0.5em; }
  .product_sheet .description {
    text-align: left;
    padding: .3em 0; }
    .product_sheet .description h1 {
      font-size: 1.75em;
      line-height: 1.5;
      border-bottom: 2px solid #7c8184;
      margin-bottom: .2em; }
    .product_sheet .description h3 {
      line-height: 1.5; }
    .product_sheet .description hr {
      color: #f6ffff; }
  .product_sheet .text-content {
    line-height: 1.5;
    font-weight: 500;
    margin: 0 0 10px 10px; }
  .product_sheet .product_img_container {
    padding: .3em 0; }

#close {
  cursor: pointer;
  line-height: 1.5;
  font-size: 1.25em;
  margin: 0 9px;
  padding-bottom: 4px;
  color: #7c8184;
  text-decoration: underline;
  float: right; }

/* ===========================
   =====      Footer     ===== 
   =========================== */
.wrapper {
  height: auto !important;
  min-height: 100%;
  height: 100%;
  margin: 0 auto -4em; }

footer, .push {
  height: 4em;
  clear: both; }

footer {
  padding-top: 20px; }

footer p {
  text-align: center;
  /*	color: $dirty_white;*/
  color: #7c8184; }

footer a:link {
  text-align: center;
  /*	color: $dirty_white;*/
  color: #7c8184; }

/* ===========================
   =====     Contacts    ===== 
   =========================== */
#contacts_info {
  margin: 1em;
  text-align: left; }
  #contacts_info p {
    margin: 0 0 10px 10px;
    padding: 0.5em;
    font-size: 1.25em; }
  #contacts_info h1, #contacts_info h2 {
    line-height: 1.5; }
  #contacts_info h1 {
    font-size: 1.875em; }

#contacts_pic {
  float: none;
  margin: 1em;
  display: block; }

/* ===========================
   =====    Media Query ===== 
   =========================== */
/* Display sotto i 1279 px (Tablet) */
@media only screen and (max-width: 1279px) {
  .select_container h3 {
    padding: .25em 0;
    font-size: 1em; }

  .category_title a {
    font-size: 1.75em; }

  .product_sheet .description h1 {
    font-size: 1.5em; }

  .categories a h3 {
    font-size: 1em;
    height: 1.5em; }

  #contacts_info h1 {
    font-size: 1.375em; }
  #contacts_info h2 {
    font-size: 1.25em; }

  #super-image-container {
    min-height: 370px; }

  #large-image-home, .gradient {
    background-image: url("../img/tablet_home.png"); } }
/*  Display sotto i 768 px (Smartphone) */
@media only screen and (max-width: 767px) {
  #super-image-container {
    min-height: 224px; }

  #large-image-home, .gradient {
    background-image: url("../img/smartphone_home.png"); }

  #head-content {
    height: 100px;
    position: relative;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0; }

  #menu {
    display: none; }

  #mobile_menu {
    display: block;
    -webkit-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2); }

  .slicknav_menu {
    display: block;
    width: 100%; }

  .categories a h3 {
    font-size: .875em;
    height: 1.5em; }

  .product_name {
    font-size: 0.875em;
    line-height: 1.1; }

  .category_title {
    padding-top: 5px; }
    .category_title a {
      font-size: 1.5em; }

  .select_container {
    text-align: left;
    padding: 5px 0; }

  #contacts_info h1 {
    font-size: 1.25em; }
  #contacts_info h2 {
    font-size: 1em; }

  .container_12 .grid_3 {
    width: 48.0%; }
  .container_12 .grid_4 {
    width: 48.0%; }
  .container_12 .product_sheet .grid_4, .container_12 .grid_5, .container_12 .grid_7 {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .container_12 .grid_2 {
    width: 48.0%; }
  .container_12 .grid_6 {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .container_12 .grid_8 {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .container_12 .prefix_5 {
    padding-left: 33.333%; }
  .container_12 grid_7, .container_12 .prefix_8 {
    padding-left: 0; }
  .container_12 .grid_12 {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .container_12 .social, .container_12 .grid_1 {
    width: 14.667%; } }
@media only screen and (max-width: 294px) {
  h3.product_name {
    font-size: 0.75em; }

  .categories a h3 {
    font-size: 0.75em;
    height: 1.5em; }

  .category_title a {
    font-size: 1.25em; }

  #contacts_info p {
    margin: 0 0 5px 5px;
    padding: 0;
    font-size: 0.875em; } }
