/* ===========================
   ======= General ======== 
   =========================== */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background-color: #d7e2e4;
  color: #7c8184;
  font-family: museo_sans500, Helvetica, Verdana, Arial, sans-serif;
  text-align: center; }

/* ===========================
   ========= Headings ======== 
   =========================== */
/* base font: 16px  */
h1 {
  font-size: 1.5em;
  /* 24px */ }

h2 {
  font-size: 1.375em;
  /* 22px */ }

h3 {
  font-size: 1.25em;
  /* 20px */ }

h4 {
  font-size: 1.125em;
  /* 18px */ }

h5 {
  font-size: 1em;
  /* 16px */ }

h6 {
  font-size: 0.875em;
  /* 14px */ }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-rendering: optimizelegibility; }

#main-content {
  margin: 0 auto;
  overflow: hidden;
  width: 100%; }

#head-content {
  overflow: hidden;
  width: 100%;
  background-color: #f6ffff;
  -webkit-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2); }

#footer-content {
  width: 100%;
  overflow: hidden;
  /*    @include box-shadow( 0, 5px ,5px, -5px, rgba(0, 0, 0, 0.75));*/
  background: #f6ffff;
  /*  background: none repeat scroll 0 0 rgba(124, 129, 132, 0.6);  #7C8184 */
  /*   @include box-shadow( 0, 10px ,10px, -10px, rgba(0, 0, 0, 0.75));*/ }

/* ===========================
   ===== Flexible Images ===== 
   =========================== */
img,
embed,
object,
video {
  max-width: 100%; }

img {
  vertical-align: middle; }

/* ===========================
   ===== Link Styles ===== 
   =========================== */
a {
  color: #712422;
  text-decoration: none; }

/* ===========================
   ===== Main Navigation ===== 
   =========================== */
header {
  max-width: 100%;
  display: block;
  background-color: #f6ffff; }

.the-logo {
  background: none repeat scroll 0 0 #f6ffff;
  margin: 0 0 .25em;
  padding: .125em;
  text-align: center; }
  .the-logo img {
    height: auto;
    /*      max-height: 92px;*/
    max-height: 100px; }

nav {
  width: 100%;
  max-height: 100%; }

nav ul {
  margin: 0;
  padding: 5px 0;
  text-align: center;
  list-style: none;
  background-color: #f6ffff; }

nav li {
  display: inline-block;
  width: 9%;
  min-width: 150px; }

nav li.active a {
  color: #712422;
  font-weight: bold; }

nav li a {
  font-size: 1.25em;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #7c8184;
  transition: color 0.3s linear 0s; }
  nav li a:hover {
    color: #712422;
    font-weight: bold; }

.social {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1001;
  margin: .28em .28em 0 0; }
  .social span {
    text-align: center;
    display: block;
    padding: 1px; }
  .social img.social_icon {
    margin: 0; }
  .social a {
    text-decoration: none; }

.slicknav_menu {
  display: none; }

#mobile_menu {
  display: none; }

/* ===========================
   ===== Main Content    ===== 
   =========================== */
select {
  border: 1px solid #7c8184;
  border-radius: 5px;
  color: #712422;
  padding: 0.75em;
  width: 100%;
  max-height: 44px;
  -webkit-appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='59px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>") right no-repeat;
  background-color: #f6ffff;
  background-position: right 10px top 15px;
  background-size: 15px 15px; }

select:active {
  border: 1px solid #7c8184; }

.select_container {
  padding: 0.75em 0;
  text-align: right; }
  .select_container h3 {
    font-size: 1.25em;
    font-weight: 500;
    line-height: 2; }

.text_box {
  margin-top: .75em;
  margin-bottom: .75em;
  overflow: hidden;
  max-width: 100%; }
  .text_box p#history {
    padding: 1em 0;
    text-align: left;
    line-height: 1.5; }

.title {
  padding-top: .2em;
  color: #f6ffff;
  font-size: 2em;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #7e3938;
  background-color: rgba(113, 36, 34, 0.9); }

.category_title {
  font-weight: 500;
  text-align: left;
  padding-top: 12px; }
  .category_title a {
    line-height: 1.5;
    color: #7c8184;
    text-decoration: none;
    font-size: 2em; }
  .category_title a.active {
    color: #712422; }

.cat_container {
  display: block;
  overflow: hidden;
  margin-bottom: .5em;
  margin-top: .5em; }

.categories h3 {
  width: 100%;
  color: #712422;
  font-weight: 500;
  font-size: 1.375em;
  text-transform: uppercase;
  height: 1.5em; }
.categories .thecategory .image {
  padding: .5em .75em; }
.categories .thecategory .image img {
  border-radius: 100%;
  height: auto;
  width: 100%;
  border: 5px solid #f6ffff;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -webkit-box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }
  .categories .thecategory .image img:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1; }

#super-image-container {
  display: block;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%; }

#large-image-info {
  text-align: left;
  bottom: 5%;
  left: 4%;
  position: absolute;
  z-index: 1001;
  width: 92%; }
  #large-image-info h1 a {
    color: #f6ffff;
    font-size: 2em; }
  #large-image-info h2 {
    text-shadow: 2px 2px 2px #000;
    color: #d7e2e4; }

#large-image-home {
  background: url("../img/home.png");
  background-position: center center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 0;
  padding-bottom: 24.6478873%;
  width: 100%; }
  @media only screen and (max-width: 295px) {
    #large-image-home {
      background: url("../img/home_480.png");
      -moz-background-size: cover;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; } }
  @media only screen and (min-width: 296px) and (max-width: 786px) {
    #large-image-home {
      background: url("../img/home_768.png");
      -moz-background-size: cover;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; } }

#large-image-subtitle {
  padding-top: .25em; }

#image-chisiamo-cont {
  margin-top: .75em;
  margin-bottom: .75em;
  padding: 1em 0;
  width: 100%; }

#image-chisiamo {
  background: url("../img/storia.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 0;
  padding-bottom: 760px; }

/* ===================================
   ===== Main Content - Products =====  
   =================================== */
.products .product_name {
  background-color: #712422;
  color: #f6ffff;
  height: 2em;
  line-height: 1.8;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px; }
.products .p_box {
  margin-bottom: 1.25em;
  overflow: hidden;
  text-align: center; }

/*===========================
 =====  Scheda Prodotto  ==== 
 =========================== */
.product_sheet {
  max-width: 100%;
  display: block;
  background-color: #f6ffff;
  overflow: hidden;
  padding: 1em 0.5em; }
  .product_sheet .description {
    text-align: left;
    padding: .3em 0; }
    .product_sheet .description hr.styled {
      border: 0;
      height: 1px;
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }
    .product_sheet .description h1 {
      font-size: 1.75em;
      line-height: 1.5;
      margin-bottom: .2em; }
    .product_sheet .description h3 {
      line-height: 1.5; }
    .product_sheet .description hr {
      color: #f6ffff; }
  .product_sheet .text-content {
    line-height: 1.5;
    font-weight: 500;
    margin: 0 0 10px 10px; }

.close {
  display: block;
  position: absolute;
  right: 0;
  top: 0; }
  .close a#close {
    cursor: pointer;
    line-height: 1.5;
    font-size: 1.25em;
    color: #7c8184;
    text-decoration: underline; }

/* under test */
#thumbnails {
  margin: 0;
  padding: 0; }
  #thumbnails li {
    max-width: 184px; }

/* under test */
/* ===========================
   =====      Footer     ===== 
   =========================== */
.wrapper {
  height: auto !important;
  min-height: 100%;
  height: 100%;
  margin: 0 auto -9em; }

footer, .push {
  height: 9em;
  clear: both; }

footer {
  text-align: left;
  padding-top: 1.25em;
  line-height: 1.3;
  font-family: Helvetica, Verdana, Arial, sans-serif; }
  footer a {
    transition: color 0.3s linear 0s;
    color: #7c8184; }
    footer a:hover {
      color: #712422; }
  footer .bottom-links {
    margin: 0 0 1.5em 0; }
  footer .footer-title {
    margin: 0 0 5px 0; }
  footer li.active a {
    color: #712422;
    font-weight: bold; }

/* ===========================
   =====     Contacts    ===== 
   =========================== */
#contacts_info {
  margin: 2em 0 0 3em;
  text-align: left;
  font-size: 1.5em; }
  #contacts_info .info {
    padding-bottom: .75em; }
  #contacts_info p {
    margin: 0 0 .25em 2em;
    font-size: 1.25em;
    color: #a52926; }
  #contacts_info h2 {
    margin: 0 0 .25em 1.75em;
    text-transform: uppercase; }
  #contacts_info h1 {
    margin-bottom: .25em;
    text-transform: uppercase; }

#contacts_pic {
  float: none;
  margin: 1.5em .5em;
  display: block;
  border: 1px solid #7c8184; }

.symbol {
  float: left; }

.inset-text {
  color: #7c8184;
  color: rgba(124, 129, 132, 0.8);
  text-shadow: 1px 4px 6px #d7e2e4, 0 0 0 black, 1px 4px 6px #d7e2e4; }
  .inset-text::-moz-selection {
    background: #d7e2e4;
    color: #f6ffff;
    text-shadow: none; }
  .inset-text::selection {
    background: #d7e2e4;
    color: #f6ffff;
    text-shadow: none; }

/* ===========================
   =====    Media Query ===== 
   =========================== */
/* Display sotto i 1279 px (Tablet) */
@media only screen and (max-width: 1279px) {
  .title {
    font-size: 1.5em; }

  #large-image-info h1 a {
    font-size: 1.5em; }

  .select_container h3 {
    padding: .25em 0;
    font-size: 1em; }

  .category_title a {
    font-size: 1.75em; }

  .product_sheet .description h1 {
    font-size: 1.5em; }

  /* under test */
  .container_12 .grid_8 {
    width: 98.0%; }
  .container_12 .thumbnails {
    width: 98.0%; }
    .container_12 .thumbnails #thumbnails li {
      width: 31.333%;
      float: left; }

  /* under test */
  .categories h3 {
    font-size: 1.25em;
    height: 1.75em; }

  #contacts_info {
    font-size: 1em; } }
/*  Display sotto i 768 px (Smartphone) */
@media only screen and (max-width: 767px) {
  .title {
    font-size: 1.25em; }

  #large-image-info h1 a {
    font-size: 1em; }
  #large-image-info h2 {
    font-size: .875em; }

  #head-content {
          /*
height: 100px;*/
    position: relative;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0; }

  #menu {
    display: none; }

  #mobile_menu {
    display: block;
    -webkit-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2); }

  .slicknav_menu {
    display: block;
    width: 100%; }

  .categories a h3 {
    font-size: .875em;
    height: 1.5em; }

  .product_name {
    font-size: 0.875em;
    line-height: 1.1; }

  .product_img_container {
    padding-top: .875em; }

  /* under test */
  #thumbnails li {
    width: 48.0%;
    float: left; }

  /* under test */
  .category_title {
    padding-top: 5px; }
    .category_title a {
      font-size: 1.5em; }

  .select_container {
    text-align: left;
    padding: 5px 0; }

  #contacts_info {
    font-size: .875em;
    margin: 1em 0 0 2em; }

  .categories h3 {
    font-size: 1em;
    height: 1.5em; }

  .container_12 .grid_3 {
    width: 48.0%; }
  .container_12 .grid_4 {
    width: 48.0%; }
  .container_12 .product_sheet .grid_4, .container_12 .product_sheet .grid_5, .container_12 .product_sheet .grid_7 {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .container_12 .grid_2 {
    width: 48.0%; }
  .container_12 .grid_6 {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .container_12 .grid_8 {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .container_12 .grid_12 {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .container_12 .social, .container_12 .grid_1 {
    width: 14.667%; } }
@media only screen and (max-width: 294px) {
  #large-image-info h1 {
    font-size: .875em; }
  #large-image-info h2 {
    font-size: 0.75em; }

  h3.product_name {
    font-size: 0.75em; }

  .categories h3 {
    font-size: 0.75em;
    height: 1.5em; }

  .category_title a {
    font-size: 1.25em; }

  #contacts_info p {
    margin: 0 0 5px 5px;
    padding: 0;
    font-size: 0.875em; } }
