<div class="grid_12">
                  <div class="product_sheet">
                     
                       <div class="grid_7">
                           <div class="product_img_container">
                                   <img  src="img/prodotti/400x400.png" alt="Immagine" />
                           </div>
                     </div>
                      <div class="grid_5" >
                      <div class="description">
                            <h1>Braccialetto unisex</h1>
                             <div class="spacer"></div>
                             <h3>Colore:</h3>
                             <p class="text-content">nero</p>
                             <h3>Materiale:</h3>
                             <p class="text-content">Pelle</p>

                            <h3>Misure (h):</h3>
                            <p class="text-content">35mm</p>
                      </div>
                          <div class="more_info">
                             Informazioni Aggiuntive
                          </div>
                  </div>
                   
                     
                </div>
            </div>