<div class="grid_12 p_box">
                  <div class="product_sheet">
                     <div class="grid_4 prefix_8 close"><a id="close">Chiudi X</a></div>
                     <div class="clear"></div>
                       <div class="grid_7">
                           <div class="product_img_container">
                                   <img  src="img/prodotti/400x400.png" alt="Immagine" />
                           </div>
                     </div>
                      <div class="grid_5">
                      <div class="description">
                            <h1>Prodotto di esempio</h1>
                            <hr class="styled"/>
                            <h3>Colore</h3>
                             <p class="text-content">Colore</p>
                             <h3>Materiale</h3>
                             <p class="text-content">Materiale</p>
                                <h3>Dimensioni</h3>
                                <p class="text-content"> Altezza: XXmm</p>
                                <p class="text-content"> Larghezza: XXmm</p>
                                <p class="text-content"> Profondità: XXmm</p>
                                <h3>Note</h3>
                          <p class="text-content">
                             But at this question, Queequeg, who had twice or thrice before taken part in similar ceremonies, looked no ways abashed; 
                             but taking the offered pen, copied upon the paper, in the proper place.
                          </p>
                      </div>
                          
                  </div>
                   
                     
                </div>
            </div>