<div class="grid_12 p_box">
                  <div class="product_sheet">
                      <div class="close"><a id="close"><img src="img/icons/close.png" alt="Chiudi" /></a></div>
                       <div class="grid_7">
                           <div class="product_img_container grid_8" id="show">
                               <img  src="img/prodotti/gallery/porta1_big.png"  alt="Immagine" />
                           </div>
                           <div class="grid_4 thumbnails">
                               <ul id="thumbnails">
                               <li class="thumb_photo right" id="sp"><img src="img/prodotti/gallery/porta2_small.png" /></li>
                               <li class="thumb_photo right" id="sp"><img src="img/prodotti/gallery/porta3_small.png" /></li>
                           </ul>
                               </div>
                     </div>
                      <div class="grid_5">
                      <div class="description">
                            <h1>Astuccio porta tabacco</h1>
                            <hr class="styled"/>
                            <h3>Colore</h3>
                             <p class="text-content">Rosso</p>
                             <h3>Materiale</h3>
                             <p class="text-content">Pelle</p>
                                <h3>Dimensioni</h3>
                                <p class="text-content"> Altezza: 300mm</p>
                                <p class="text-content"> Larghezza: 200mm</p>
                                <h3>Note</h3>
                          <p class="text-content">
                             Portatabacco realizzato in pelle con concia al vegetale, tagliato e cucito interamente a mano. Chiusura con laccio.
                          </p>
                      </div>
                          
                  </div>
                   
                     
                </div>
            </div>